<template>
  <div
    class="calendar"
  >
    <div class="calendar-header">
      <div class="month-name">
          <h3 @click="showMonthSelection = !showMonthSelection">
            <span>{{ getMonthName(selectedMonth) }}</span> {{ selectedMonthYear.year }}
          </h3>
        <div class="triangle" @click="showMonthSelection = !showMonthSelection" />
          <div v-if="showMonthSelection" class="select-month">
            <ul class="months">
              <li
                v-for="(month, index) in monthNames"
                :key="index"
                :class="{ active: month.month === selectedMonth }"
                class="month-name"
                @click="updateSelectedMonth(month.month)"
              >
                {{ month.title }}
                <div v-if="currentMonthYear.month === month.month" class="current-month" />
              </li>
            </ul>
            <ul class="select-year">
              <li :class="{ active: selectedYear === currentMonthYear.year -2 }" @click="updateSelectedYear(currentMonthYear.year -2)">
                {{ currentMonthYear.year -2 }}
              </li>
              <li :class="{ active: selectedYear === currentMonthYear.year -1 }" @click="updateSelectedYear(currentMonthYear.year -1)">
                {{ currentMonthYear.year -1 }}
              </li>
              <li :class="{ active: selectedYear === currentMonthYear.year || selectedYear == null }" @click="updateSelectedYear(currentMonthYear.year)">
                {{ currentMonthYear.year }}
              </li>
            </ul>
          </div>
      </div>
    </div>
      <div class="day-names">
        <div class="day-name" v-for="(day, index) in dayNames" :key="`day-${index}`">
          {{ day }}
        </div>
      </div>
      <div class="calendar-body">
        <div class="days">
          <div
            v-for="(day, index) in getDays(selectedMonthYear.year, selectedMonthYear.month)"
            :key="`day-${index}`"
            :class="{ active: false }"
            class="day"
            @click="doSomething()"
          >
            <div class="number">
              {{ day.number }}
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  export default {
    name: 'CalendarWidget',
    data() {
      return {
        downloading: false,
        selectedMonth: null,
        selectedYear: null,
        showMonthSelection: false,
        dayNames: [
          'Saturday',
          'Sunday',
          'Monday',
          'Tuesday',
          'Wednesday',
          'Thursday',
          'Friday'
        ],
        monthNames: [
          { month: 1, title: 'January' },
          { month: 2, title: 'February' },
          { month: 3, title: 'March' },
          { month: 4, title: 'April' },
          { month: 5, title: 'May' },
          { month: 6, title: 'June' },
          { month: 7, title: 'July' },
          { month: 8, title: 'August' },
          { month: 9, title: 'September' },
          { month: 10, title: 'October' },
          { month: 11, title: 'November' },
          { month: 12, title: 'December' }
        ]
      }
    },
    computed: {
      startOfMonthDay() {
        const date = this.selectedMonthYear
        const firstDay = new Date(date.year, date.month - 1, 1) // gets first day of the selected month
        return firstDay.getUTCDay()
      },
      currentMonthYear() {
        const date = new Date()
        const month = date.getMonth() + 1
        const Year = date.getFullYear()
        return { month: month, year: Year }
      },
      selectedMonthYear() {
        const date = new Date()
        let month
        let year
        if (this.selectedMonth != null) {
          month = this.selectedMonth
        }
        else {
          month = date.getMonth() + 1
        }
        if (this.selectedYear != null) {
          year = this.selectedYear
        }
        else {
          year = date.getFullYear()
        }
        return { month: month, year: year }
      }
    },
    created() {
      if (this.selectedMonth === null) {
        this.selectedMonth = this.selectedMonthYear.month
      }
    },
    methods: {
      updateSelectedYear(year) {
        this.selectedYear = year
      },
      updateSelectedMonth(month) {
        this.selectedMonth = month
        this.showMonthSelection = false
      },
      doSomething() {
        alert('Doing something')
      },
      getMonthName(month) {
        return this.monthNames.find(item => item.month === month).title
      },
      getCashupReports() {
        this.$store.dispatch('getCashUpRecords')
      },
      getDays(year, month) {
        const date = new Date(year, month - 1, 1)
        const result = []
        let dayOffset = 2 + this.startOfMonthDay
        if (dayOffset === 7) {
          dayOffset = 7 - dayOffset
        }
        let i
        for (i = 0; i < dayOffset; i++) {
          result.push({ number: null, date: null, fullDate: null })
        }

        while (date.getMonth() === month - 1) {
          const dd = String(date.getDate()).padStart(2, '0')
          const mm = String(date.getMonth() + 1).padStart(2, '0')
          const yyyy = date.getFullYear()
          const shortDate = `${yyyy},${mm},${dd}`
          const item = { number: date.getDate(), date: shortDate, fullDate: date.toString() }
          result.push(item)
          date.setDate(date.getDate() + 1)
        }
        return result
      }
    }
  }
</script>

<style lang="scss" scoped>

.calendar {
    // Set CSS Variables
    --main-primary: #8b10fe;
    --main-white: #FFF;
    --main-primary-link: #fb1989;
    --box-shadow-dropdown: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    --main-border-color: #EAEAEA;

    width: 40em;
    margin: auto;
    font-family: 'Nunito';  
    text-align: center;
  
    .calendar-header {
      padding: 0 1em;
      
      .month-name {
        display: flex;
        align-items: baseline;
        justify-content: center;
        position: relative;
        h3 {
          font-size: 1.8em;
          margin-bottom: 1em;
          font-weight: normal;
          span {
            font-weight: bold;
          }
        }
        .triangle {
          margin-left: 1em;
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: .75em .5em 0 .5em;
          border-color: var(--main-primary-link) transparent transparent transparent;
        }
        .select-month {
          background: #FFF;
          box-shadow: var(--box-shadow-dropdown);
          padding: 1em;
          position: absolute;
          width: 40em;
          top: 2em;
          left: 20em;
          margin-left: -50%;
          ul {
            padding: 0;
            display: grid;
            list-style: none;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1em;
            width: 100%;
            margin: 1em 0;
            li {
              font-size: 1.2em;
              padding: .5em 0;
              transition: ease-in-out all .2s;
              border: 1px solid transparent;
              cursor: pointer;
              position: relative;

              .current-month {
                width: .5em;
                height: .5em;
                background: var(--main-primary);
                border-radius: 50%;
                top: .5em;
                right: .5em;
                position: absolute;
              }

              &.active {
                background: var(--main-primary);
                color: var(--main-white);
              }

              &:hover {
                border: 1px solid var(--main-primary);
                color: var(--main-primary);
              }
            }
            &.select-year {
              border-top: 1px solid var(--main-border-color);
              padding-top: 1em;
            }
          }
        }
      }
    }
    .day-names {
      padding: 0;
      display: grid;
      list-style: none;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 1em;
      width: 100%;
      margin-bottom: 1em;

      .day-name {
        color: var(--main-dark);
        font-weight: bold;
      }
    }
    .calendar-body {
      .days {
        padding: 0;
        display: grid;
        list-style: none;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 1em;
        width: 100%;

        .day {
          padding: 1em 0;
          font-weight: bold;

          &.active {
            background: var(--main-primary);
            transition: ease-in-out all .2s;
            &:hover {
              cursor: pointer;
            }
            &:active {
              border-radius: 2em;
            }
            .number {
              color: var(--main-white);
            }
          }
        }
      }
    }
  }
</style>
