<template>
  <div class="roll-register">
    <RollRegisterItem
      v-for="(item, index) in items.slice(0, limit)"
      :key="`item-${index}`"
      :item="item"
      :inactive="inactive <= index && inactive !== null"
      :style="
        `top: ${index}.5em; left: ${index}.5em; z-index: ${calculatedIndex(
          index
        )}`
      "
    />
  </div>
</template>

<script>
import RollRegisterItem from './RollRegisterItem'
export default {
  name: 'RollRegister',
  components: {
    RollRegisterItem
  },
  props: {
    items: {
      type: Array,
      required: true
    },
    limit: {
      type: Number,
      default: 3
    }
  },
  data() {
    return {
      inactive: null,
      zIndex: 1,
      ascending: false
    }
  },
  mounted() {
    setInterval(() => {
      if (this.inactive === null) {
        this.inactive = 0
      }

      if (this.ascending) {
        if (this.inactive < this.limit + 1) {
          this.inactive++
        } else if (this.inactive === this.limit + 1) {
          this.ascending = false
          this.inactive--
        }
      }
      if (!this.ascending) {
        if (this.inactive > 1) {
          this.inactive--
        } else {
          this.ascending = true
          this.active++
        }
      }
    }, 1200)
  },
  methods: {
    calculatedIndex(index) {
      return 10 + index
    }
  }
}
</script>

<style lang="scss" scoped>
.roll-register {
  position: relative;
  height: 30em;
}
</style>
