<template>
  <div :class="{ inactive: inactive }" class="roll-register-item">
    <div class="background-panel" />
    <div class="card-container">
      <div class="card">
        <div class="image">
          <img :src="item.image" :alt="`Image of ${item.title}`" />
        </div>
        <h3>{{ item.title }}</h3>
        <div class="price-container">
          <h2>A$ {{ item.priceDiscount }}</h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RollRegisterItem',
  props: {
    item: {
      type: Object,
      required: true
    },
    inactive: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.roll-register-item {
  border-radius: 0.5em;
  background: var(--main-white);
  position: absolute;
  overflow: hidden;
  height: 18em;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 5em;
  transform: translate(-10%, -55%) scale(0.85) perspective(2038px)
    rotateY(33deg) rotateX(12deg);
  box-shadow: -1px -1px 5px 0 rgba(26, 26, 67, 0.05),
    -12px 20px 125px -25px rgba(50, 50, 93, 0.5),
    -18px 20px 75px -37.5px rgba(0, 0, 0, 0.6);
  transition: ease-in-out all 0.3s;
  opacity: 1;

  &.inactive {
    opacity: 0;
    transform: translate(-75%, -75%) scale(0.65) perspective(2038px)
      rotateY(0deg) rotateX(0deg);

    &:hover {
      transform: translate(0%, 0%) scale(1) perspective(0) rotateY(0deg)
        rotateX(0deg);
      opacity: 1;
    }
  }
  &:hover {
    transform: translate(0%, 0%) scale(1) perspective(0) rotateY(0deg)
      rotateX(0deg);
  }

  .background-panel {
    border-radius: 1em;
    position: absolute;
    height: 14em;
    width: 120%;
    top: -5em;
    left: 0;
    background-color: var(--main-primary-lighter);
    transform: rotateZ(10deg);
  }
  &:nth-child(1) {
    .background-panel {
      filter: hue-rotate(20deg);
    }
  }
  &:nth-child(2) {
    .background-panel {
      filter: hue-rotate(40deg);
    }
  }
  &:nth-child(3) {
    .background-panel {
      filter: hue-rotate(60deg);
    }
  }
  &:nth-child(4) {
    .background-panel {
      filter: hue-rotate(80deg);
    }
  }
  &:nth-child(5) {
    .background-panel {
      filter: hue-rotate(100deg);
    }
  }
  &:nth-child(5) {
    .background-panel {
      filter: hue-rotate(120deg);
    }
  }

  .card-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;

    .card {
      background: var(--main-white);
      border-radius: 0.5em;
      z-index: 10;
      width: 100%;
      margin: 0 10%;
      flex: 1;
      box-shadow: var(--box-shadow-dropdown-alt);
      position: relative;

      h3 {
        padding: 1em;
        margin-top: 2em;
      }

      .image {
        position: absolute;
        top: -2.5em;
        left: 50%;
        margin-left: -2.5em;
        z-index: 2;
        text-align: center;

        img {
          width: 5em;
          height: 5em;
          border-radius: 0.5em;
          box-shadow: var(--box-shadow-dropdown);
        }
      }

      .price-container {
        background: var(--main-light-grey);
        border-top: 1px solid var(--main-border-color);
        padding: 2em 1em;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
  .content-swapper-item {
    width: 70%;
    margin: 8em 10% 2em 10%;
  }
}
</style>
