<template>
    <div class="likert-scale">
      <div class="heading">
        <div class="empty"></div>
        <div v-for="(label, index) in labels" :key="`label-${index}`" class="options">
          {{ label }}
        </div>
      </div>
      <div class="selections">
        <div class="question">
          {{ question }}
        </div>
        <div v-for="(label, index) in labels" :key="`radio-${index}`" class="options radio">
          <input type="radio" v-model="inputValue" :name="uniqueName" :vs-value="index"  />
        </div>
      </div>
    </div>
</template>

<script>
  import { uuid } from 'vue-uuid';
  export default {
    name: "LikertScale",
    props: {
      value: {
        type: Number,
        required: true
      },
      question: {
        type: String,
        default: ''
      },
      labels: {
        type: Array,
        default: () => [
          'Strongly Disagree',
          'Disagree',
          'Somewhat disagree',
          'Neutral',
          'Somewhat agree',
          'Agree',
          'Strongly Agree'
        ]
      }
    },
    computed: {
      uniqueName() {
        return uuid.v4()
      },
      inputValue: {
        get() {
          return this.value
        },
        set(value) {
          this.$emit('input', value)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .likert-scale {
    border: 1px solid #eaeaea;
    font-size: 0.8em;
    background: #FFF;

    .heading,
    .selections
    {
      display: flex;
      border-bottom: 1px solid #eaeaea;
      align-items: center;
      justify-content: center;

      .empty,
      .question {
        flex: 3;
        padding: 0.5em;
        min-width: 18em;
      }

      .options {
        flex: 1;
        border-left: 1px solid #eaeaea;
        text-align: center;
        padding: 1em 0.5em;
       max-width: 6em;

        &.radio {
          padding: 2.2em 1em;
        }
      }
    }

  }

</style>
