<template>
  <nuxt-link :to="link">
    {{ url | deDash }}
  </nuxt-link>
</template>

<script>
export default {
  name: 'BreadCrumbItems',
  filters: {
    deDash(string) {
      return string.replace(/-/g, ' ')
    }
  },
  props: {
    urlItems: {
      type: Object,
      required: true
    },
    index: {
      type: Number,
      required: true
    },
    url: {
      type: String,
      required: true
    }
  },
  computed: {
    link() {
      let path = '/'
      for (let i = 0; i < this.index; i++) {
        path += this.urlItems[i + 1] + '/'
      }
      return path.replace('//', '/')
    }
  }
}
</script>
