<template>
  <div class="bread-crumbs">
    <template v-if="urlParams.path !== '/'">
      <div class="container">
        <ul class="bread-crumbs-list">
          <li
            v-for="(url, index) in urlItems"
            :key="`link-${index}`"
            :class="{ active: index + 1 === itemCount }"
          >
            <template v-if="index === 0">
              <nuxt-link to="/">Home</nuxt-link>
            </template>
            <template v-else-if="url !== ''">
              <template v-if="index + 1 === urlItems.length">
                {{ url | deDash }}
              </template>
              <template v-else>
                <bread-crumb-item
                  :index="index"
                  :url="url"
                  :url-items="urlItems"
                />
              </template>
            </template>
          </li>
        </ul>
      </div>
    </template>
  </div>
</template>

<script>
import BreadCrumbItem from './BreadCrumbItem'
export default {
  name: 'BreadCrumbs',
  components: {
    BreadCrumbItem
  },
  filters: {
    deDash(string) {
      return string.replace(/-/g, ' ')
    }
  },
  computed: {
    urlItems() {
      return this.$route.fullPath.split('/')
    },
    urlParams() {
      return this.$route
    },
    itemCount() {
      return this.urlItems.length
    }
  }
}
</script>

<style lang="scss" scoped>
.bread-crumbs {
  ul.bread-crumbs-list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2em 0 2em 0;

    li {
      font-size: 1.1em;
      text-transform: capitalize;
      margin-right: 1em;

      &.active {
        font-weight: bold;
      }

      &:before {
        content: '›';
        margin-right: 0.5em;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
  .bread-crumbs {
    ul.bread-crumbs-list {
      padding: 1em;
    }
  }
}
</style>
